[Unit]
Description=App
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/vegameta/app/venv/bin/python /home/vegameta/app/run
WorkingDirectory=/home/vegameta/app
Restart=always

[Install]
WantedBy=multi-user.target