[Unit]
Description=App
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/sudo /home/vegameta/app/run
WorkingDirectory=/home/vegameta/app
Restart=always

[Install]
WantedBy=multi-user.target